@font-face {
  font-family: "exo2";
  src: url("exo2/Exo2.otf");
  src: url("exo2/Exo2-t.ttf");
  src: url("exo2/Exo2-w.woff");
  src: url("exo2/Exo2-w2.woff2");
  src: url("exo2/Exo2-s.svg");
}
@font-face {
  font-family: "anonPro";
  src: url("anonpro/AnonPro-t.ttf");
  src: url("anonpro/AnonPro-o.otf");
  src: url("anonpro/AnonPro-s.svg");
  src: url("anonpro/AnonPro-w.woff");
  src: url("anonpro/AnonPro-w2.woff2");
}
body {
  min-height: 100vh;
  height: 100%;
  min-width: 100vw;
  width: 100%;
  margin: 2em;
  text-align: center;
  font-family: 'exo2';
}
table {
  margin: auto;
}
td p {
  line-height: 20px;
}

td, h1, footer {
  padding: 5px;
  margin: auto;
}
h1, footer {
  height: 3em;
}
#output {
  min-width: 400px;
  min-height: 200px;
  padding: 5px;
  border: 1px solid gray;
  margin: auto;
  margin-top: 1em;
  font-family: 'anonPro';
}
footer {
	display: inline;
  bottom: 0;
}
